<?xml version="1.0" ?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="anvrit" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find anvrit_description)/urdf/anvrit.gazebo" />

  <link name="base_footprint"/>

  <joint name="base_link_joint" type="fixed">
    <origin xyz="0 0 0.165" rpy="0 0 0"/>
    <parent link="base_footprint"/>
    <child link="base_link"/>
  </joint>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.28971 -7.0545E-05 0.083054"
        rpy="0 0 0" />
      <mass
        value="27.201" />
      <inertia
        ixx="1.05252604"
        ixy="0.00000000"
        ixz="0.00000000"
        iyy="1.76148151"
        iyz="0.00000000"
        izz="2.45440540" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find anvrit_description)/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find anvrit_description)/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_wheel_link">
    <inertial>
      <origin
        xyz="-0.00063177 -0.00055163 -0.0003195"
        rpy="0 0 0" />
      <mass
        value="2.2144" />
      <inertia
        ixx="0.012083"
        ixy="0.00012495"
        ixz="2.3628E-07"
        iyy="0.012043"
        iyz="-1.593E-07"
        izz="0.021393" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find anvrit_description)/meshes/left_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find anvrit_description)/meshes/left_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_wheel_joint"
    type="continuous">
    <origin
      xyz="0 0.433386194229126 0"
      rpy="-1.570796326794 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_wheel_link" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="right_wheel_link">
    <inertial>
      <origin
        xyz="-0.00054883 0.00063732 -0.00061517"
        rpy="0 0 0" />
      <mass
        value="2.2144" />
      <inertia
        ixx="0.012048"
        ixy="-0.00012561"
        ixz="6.3859E-07"
        iyy="0.012078"
        iyz="-1.9449E-07"
        izz="0.021393" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find anvrit_description)/meshes/right_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find anvrit_description)/meshes/right_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_wheel_joint"
    type="continuous">
    <origin
      xyz="0 -0.433386194229126 0"
      rpy="1.5707963267949 -1.5707963267949 0" />
    <parent
      link="base_link" />
    <child
      link="right_wheel_link" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="caster_1_link">
    <inertial>
      <origin
        xyz="-0.0023809 0.0053971 -0.032282"
        rpy="0 0 0" />
      <mass
        value="0.037728" />
      <inertia
        ixx="1.207E-05"
        ixy="-3.4088E-07"
        ixz="-6.4848E-07"
        iyy="1.2694E-05"
        iyz="1.4692E-06"
        izz="1.0775E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find anvrit_description)/meshes/caster_1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find anvrit_description)/meshes/caster_1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="caster_1_joint"
    type="continuous">
    <origin
      xyz="-0.784999999999994 0 -0.0518595597484284"
      rpy="0 0 1.15" />
    <parent
      link="base_link" />
    <child
      link="caster_1_link" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="caster_2_link">
    <inertial>
      <origin
        xyz="-6.66133814775094E-16 -4.57966997657877E-16 1.66533453693773E-16"
        rpy="0 0 0" />
      <mass
        value="0.0832088133986632" />
      <inertia
        ixx="4.46664474667494E-05"
        ixy="7.25724527823638E-06"
        ixz="3.85349322672759E-22"
        iyy="3.14173287536557E-05"
        iyz="-2.26991942281935E-21"
        izz="2.82157802491572E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find anvrit_description)/meshes/caster_2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find anvrit_description)/meshes/caster_2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="caster_2_joint"
    type="continuous">
    <origin
      xyz="-0.0107632397404874 0.0243980282277062 -0.0760000000000001"
      rpy="0 0 0" />
    <parent
      link="caster_1_link" />
    <child
      link="caster_2_link" />
    <axis
      xyz="-0.914926058539058 -0.403621490268029 0" />
  </joint>
  <link
    name="lidar_link">
    <inertial>
      <origin
        xyz="-0.00676653011667602 9.19261110874647E-05 -0.00738187226715947"
        rpy="0 0 0" />
      <mass
        value="1.33076913637071" />
      <inertia
        ixx="0.000614917940454084"
        ixy="-8.01984318978737E-07"
        ixz="-0.000158243025911161"
        iyy="0.000960697335617222"
        iyz="3.09162986587416E-06"
        izz="0.00109815200027137" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find anvrit_description)/meshes/lidar_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find anvrit_description)/meshes/lidar_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar_joint"
    type="fixed">
    <origin
      xyz="-0.327999999999984 0.00250000000000023 0.393953773584904"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="lidar_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_link">
    <inertial>
      <origin
        xyz="-0.0214850389798296 -0.000533518397753258 -0.00719165397072863"
        rpy="0 0 0" />
      <mass
        value="0.237785110963087" />
      <inertia
        ixx="0.00041109010827315"
        ixy="2.00243497326135E-05"
        ixz="1.48233721450063E-07"
        iyy="4.97776083745444E-05"
        iyz="1.08586163834263E-08"
        izz="0.000432963162718765" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find anvrit_description)/meshes/camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find anvrit_description)/meshes/camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_joint"
    type="fixed">
    <origin
      xyz="-0.339698682717118 -0.000402292580199012 0.957303733041514"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="gps_link">
    <inertial>
      <origin
        xyz="-0.000301557177801323 -0.000393461407438733 0.00829464708836225"
        rpy="0 0 0" />
      <mass
        value="0.0273352279896813" />
      <inertia
        ixx="3.56094833912897E-06"
        ixy="-2.86831426481786E-08"
        ixz="1.01906621875833E-08"
        iyy="3.67783329229382E-06"
        iyz="5.91093283861894E-10"
        izz="7.06140830546018E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find anvrit_description)/meshes/gps_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find anvrit_description)/meshes/gps_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gps_joint"
    type="fixed">
    <origin
      xyz="-0.38999951204467 0.205296819523394 0.480853773584912"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="gps_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="phone_link">
    <inertial>
      <origin
        xyz="0.00021409 -1.4913E-05 -0.0035412"
        rpy="0 0 0" />
      <mass
        value="0.063136" />
      <inertia
        ixx="2.2655E-05"
        ixy="6.8255E-08"
        ixz="6.7005E-09"
        iyy="9.6929E-05"
        iyz="-4.766E-09"
        izz="0.00011907" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find anvrit_description)/meshes/phone_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find anvrit_description)/meshes/phone_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="phone_link"
    type="fixed">
    <origin
      xyz="-0.586143430372339 0.00107363827117987 0.135403773584905"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="phone_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>